apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: ixia-c
  name: controller-config
  namespace: ixia-c
data:
  config.yaml: |
    location_map:
    - location: eth1
      endpoint: service-ixia-c-port1.ixia-c.svc.cluster.local:5555+service-ixia-c-port1.ixia-c.svc.cluster.local:50071
    - location: eth2
      endpoint: service-ixia-c-port2.ixia-c.svc.cluster.local:5555+service-ixia-c-port2.ixia-c.svc.cluster.local:50071

---

apiVersion: v1
kind: Pod
metadata:
  labels:
    app: ixia-c
    role: controller
  name: keng-controller
  namespace: ixia-c
spec:
  containers:
    - args:
        - --accept-eula
        - --debug
      image: ghcr.io/open-traffic-generator/keng-controller:0.1.0-53
      imagePullPolicy: IfNotPresent
      name: keng-controller
      volumeMounts:
        - mountPath: /home/ixia-c/controller/config
          name: config
          readOnly: true
  restartPolicy: Always
  volumes:
    - configMap:
        defaultMode: 420
        name: controller-config
      name: config

---

apiVersion: v1
kind: Pod
metadata:
  labels:
    app: ixia-c
    role: port1
  name: ixia-c-port1
  namespace: ixia-c
spec:
  containers:
    - env:
        - name: ARG_IFACE_LIST
          value: virtual@af_packet,eth1
        - name: OPT_NO_HUGEPAGES
          value: "Yes"
        - name: OPT_LISTEN_PORT
          value: "5555"
        - name: ARG_CORE_LIST
          value: 1 1 1
      image: ghcr.io/open-traffic-generator/ixia-c-traffic-engine:1.6.0.85
      imagePullPolicy: IfNotPresent
      name: ixia-c-port1-traffic-engine
      securityContext:
        privileged: true
    - env:
        - name: INTF_LIST
          value: eth1
      image: ghcr.io/open-traffic-generator/ixia-c-protocol-engine:1.00.0.337
      imagePullPolicy: IfNotPresent
      name: ixia-c-port1-protocol-engine
      securityContext:
        privileged: true
  restartPolicy: Always

---

apiVersion: v1
kind: Pod
metadata:
  labels:
    app: ixia-c
    role: port2
  name: ixia-c-port2
  namespace: ixia-c
spec:
  containers:
    - env:
        - name: ARG_IFACE_LIST
          value: virtual@af_packet,eth2
        - name: OPT_NO_HUGEPAGES
          value: "Yes"
        - name: OPT_LISTEN_PORT
          value: "5555"
        - name: ARG_CORE_LIST
          value: 1 1 1
      image: ghcr.io/open-traffic-generator/ixia-c-traffic-engine:1.6.0.85
      imagePullPolicy: IfNotPresent
      name: ixia-c-port2-traffic-engine
      securityContext:
        privileged: true
    - env:
        - name: INTF_LIST
          value: eth2
      image: ghcr.io/open-traffic-generator/ixia-c-protocol-engine:1.00.0.337
      imagePullPolicy: IfNotPresent
      name: ixia-c-port2-protocol-engine
      securityContext:
        privileged: true
  restartPolicy: Always

---

apiVersion: v1
kind: Pod
metadata:
  labels:
    app: ixia-c
    role: dut
  name: dut
  namespace: ixia-c
spec:
  containers:
    - image: ubuntu:22.04
      imagePullPolicy: IfNotPresent
      name: dut-ubuntu
      command:
        - "sleep"
        - "infinity"
  restartPolicy: Always
