kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  # WARNING: It is _strongly_ recommended that you keep this the default
  # (127.0.0.1) for security reasons. However it is possible to change this.
  # Change to 0.0.0.0 to access kind cluster from outside
  apiServerAddress: 127.0.0.1
  # By default the API server listens on a random open port.
  # You may choose a specific port but probably don't need to in most cases.
  # Using a random port makes it easier to spin up multiple clusters.
  apiServerPort: 6443
nodes:
  # configure single-node cluster
  - role: control-plane
    extraMounts:
      # this is needed to authenticate container image downloads
    - containerPath: /var/lib/kubelet/config.json
      hostPath: deployments/k8s/docker-config.json
  # replicate following for multi-node cluster with intended number of worker nodes
  # - role: workers
containerdConfigPatches:
- |-
  [plugins."io.containerd.grpc.v1.cri".registry.mirrors."ghcr.io"]
    endpoint = ["https://ghcr.io"]
  [plugins."io.containerd.grpc.v1.cri".registry.configs."ghcr.io".tls]
    insecure_skip_verify = true
