apiVersion: v1
kind: Pod
metadata:
  labels:
    app: ixia-c
    role: otg-controller
  name: otg-controller
  namespace: ixia-c
spec:
  containers:
    - args:
        - --accept-eula
        - --debug
      image: ixia-c-controller:latest
      imagePullPolicy: IfNotPresent
      name: ixia-c-controller
      ports:
        - containerPort: 8443
          name: https-port
          protocol: TCP
        - containerPort: 40051
          name: grpc-port
          protocol: TCP
      livenessProbe:
        tcpSocket:
          port: https-port
        periodSeconds: 5
      startupProbe:
        tcpSocket:
          port: https-port
        periodSeconds: 5
        failureThreshold: 12
      volumeMounts:
        - mountPath: /home/ixia-c/controller/config
          name: config
          readOnly: true
    - args:
        - -http-server
        - https://localhost:8443
        - --debug
      image: ixia-c-gnmi-server:latest
      imagePullPolicy: IfNotPresent
      name: ixia-c-gnmi-server
      ports:
        - containerPort: 50051
          name: gnmi-port
          protocol: TCP
      livenessProbe:
        tcpSocket:
          port: gnmi-port
        periodSeconds: 5
      startupProbe:
        tcpSocket:
          port: gnmi-port
        periodSeconds: 5
        failureThreshold: 12
  restartPolicy: Always
  volumes:
    - configMap:
        defaultMode: 420
        name: controller-config
      name: config