apiVersion: v1
kind: Service
metadata:
  name: service-otg-controller
  namespace: ixia-c
spec:
  type: NodePort
  ports:
    - name: https
      port: 443
      protocol: TCP
      targetPort: https-port
      nodePort: 30443
    - name: grpc
      port: 40051
      protocol: TCP
      targetPort: grpc-port
      nodePort: 30451
    - name: gnmi
      port: 50051
      protocol: TCP
      targetPort: gnmi-port
      nodePort: 30551
  selector:
    role: otg-controller
