[data-md-color-scheme="ks-light"] {
    --md-primary-fg-color:        #000000;
    --md-primary-fg-color--light: #EBEBEB;
    --md-primary-fg-color--dark:  #373A36;
    --md-primary-bg-color:        #FFFFFF;
    --md-default-bg-color:        #FFFFFF;
    --md-default-fg-color--light: #373A36;
    --md-default-fg-color:        #000000;
    --md-default-fg-color--dark:  #000000;
    --md-typeset-color:           #373A36;
    --md-typeset-a-color:         #E90029;
    --md-code-bg-color:           #EBEBEB;
    --md-code-fg-color:           #373A36;
}
[data-md-color-scheme="ks-dark"] {
    --md-primary-fg-color:        #000000;
    --md-primary-fg-color--light: #EBEBEB;
    --md-primary-fg-color--dark:  #373A36;
    --md-primary-bg-color:        #FFFFFF;
    --md-default-fg-color--light: #EBEBEB;
    --md-default-fg-color:        #FFFFFF;
    --md-default-fg-color--dark:  #97999B;
    --md-default-bg-color:        #373A36;
    --md-typeset-color:           #EBEBEB;
    --md-typeset-a-color:         #E90029;
    --md-code-bg-color:           #000000;
    --md-code-fg-color:           #97999B;
}
